@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('../public/fonts/Room/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background: black;
}
input {
  outline: none;
}
.container {
  @apply w-[90%] h-full mx-auto;
}

.swiper-pagination {
  bottom: 100px !important;
  left: 5% !important;
  width: max-content !important;
}

:root {
  --swiper-navigation-size: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  font-size: var(--swiper-navigation-size);
}

.text-wrap {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
