@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham Pro';
  src: url('../public/fonts/Gotham Pro/gothampro_light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../public/fonts/Gotham Pro/gothampro_medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gotham Pro', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background: black;
}
input {
  outline: none;
}
/* Основной стиль для автозаполнения */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}
.container {
  @apply w-[90%] h-full mx-auto;
}

.swiper-pagination {
  bottom: var(--swiper-pagination-bottom, 18%) !important;
  left: 50% !important;
  transform: translateX(-40%);
  width: max-content !important;
}

:root {
  --swiper-navigation-size: 20px;
}

@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;
    font-size: var(--swiper-navigation-size);
    top: var(--swiper-navigation-top-offset, 92%);
    right: var(--swiper-navigation-sides-offset, 35%);
  }
  .swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, 35%);
  }
  /* .swiper-pagination{
    bottom: var(--swiper-pagination-bottom, 66px) !important;
  } */
}
.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  font-size: var(--swiper-navigation-size);
}

.text-wrap {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.react-datepicker {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.react-datepicker__header {
  background-color: black;
  border-bottom: none;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: white;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: white;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #1e1e1e;
  color: white;
}

.react-datepicker__day--today {
  font-weight: bold;
  color: white;
}

.react-datepicker__day--outside-month {
  color: #555;
}

.react-datepicker__navigation-icon::before {
  border-color: white;
}

.react-datepicker__navigation {
  top: 10px;
  line-height: 1.7rem;
}

.react-datepicker__navigation--previous {
  border-right-color: white;
}

.react-datepicker__navigation--next {
  border-left-color: white;
}
